
p{

  color: #6D8092;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px; 

}

.table{

  font-size: 15px; 
  border-top-color: white !important; 

}

footer{

  background-color: #343a40; 
  border-top-style: solid; 
  border-top-width: 5px; 
  color: white; 
  min-height: 30px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; 
  text-align: center; 
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px; 
  padding-bottom: 20px; 

}
